services:
  backend:
    build: ./backend
    container_name: nms-backend
    ports:
      - "3001:3001"
    volumes:
      - ${HOME}/openairinterface5g/sib8.conf:/config/sib8.conf
      - ${HOME}/openairinterface5g/targets/PROJECTS/GENERIC-NR-5GC/CONF/gnb.sa.band78.fr1.106PRB.usrpb210.conf:/config/gnb.conf
    environment:
      - PLMN_CONFIG_PATH=/config/gnb.conf
      - SIB8_CONFIG_PATH=/config/sib8.conf

  frontend:
    build: ./frontend
    container_name: nms-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
